@font-face {
    font-family: SolaimanLipi;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/SolaimanLipi.eot) format("embedded-opentype"), url(fonts/SolaimanLipi.woff) format("woff"),
        url(fonts/SolaimanLipi.ttf) format("truetype"), url(fonts/SolaimanLipi.svg) format("svg");
    font-display: swap;
}

*,
body {
    outline: 0 !important;
    font-family: SolaimanLipi;
}

body{
    margin: 0;
    padding: 0;
}

.namaj-times .banner{
    background-image: url(images/namaj-banner.jpg);
    height: 250px;
    width: 100%;
    background-size: contain;
    background-position: center;
}

.namaj-times .intro{
    margin-top: 30px;
}
.namaj-times .intro h2{
    margin: 0;
}
.namaj-times .intro p{
    margin-top: 10px;
}

.text-center {
    text-align: center;
}

#dateContainer {
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#dateContainer td,
#dateContainer th {
    border: 1px solid #ddd;
    padding: 8px;
}

#dateContainer tr:nth-child(even) {
    background-color: #f2f2f2;
}

#dateContainer tr:hover {
    background-color: #ddd;
}

#dateContainer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #673ab7;
    color: white;
}

.districtContainer {
    display: flex;
    justify-content: center;
    margin: 30px 10px;
    gap: 10px;
    align-items: center;
}

.districtContainer select {
    padding: 6px 12px;
    border-radius: 4px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.buttonContainer button.button {
    padding: 6px 14px;
    background: #e3e3e3;
    color: #000;
    font-size: 18px;
    border: none;
    font-weight: 700;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.buttonContainer .button.active {
    background: #673ab7;
    color: #fff;
}

#dateContainer tr.active {
    background: #673ab7;
    color: #fff;
}
